@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

* {
	font-family: "Montserrat", sans-serif;
}
:root {
	--main-color: #243d7f;
	--text-color: #ffc300;
}

body {
	margin: 0;
	padding: 0;
}
button {
	margin: auto;
}
.nav-bar {
	height: 100px;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.logo-container {
	margin-left: 20px;
	width: 320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-container img {
	height: 80px;
	width: 80px;
}

.logo-container a {
	text-decoration: none;
	color: var(--main-color);
}

.logo-container h1 {
	font-size: 30px;
	color: var(--main-color);
	margin: 0;
}

.nav-links {
	width: 320px;
	height: 100%;
	align-content: center;
	margin-right: 20px;
}

.nav-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.nav-links ul li {
	display: inline;
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
}

.nav-links ul li a {
	text-decoration: none;
	color: var(--main-color);
}

.nav-links ul li a:hover {
	color: var(--text-color);
	text-decoration: underline;
}

.main-banner {
	height: 1024px;
	background-image: url("main_banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.service-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.service {
	margin: 0;
	width: 30vw;
	height: 30vw;
	background-color: var(--main-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.service img {
	margin: 1vw;
	width: 28vw;
	height: 28vw;
	object-fit: cover;
}

.service h2 {
	margin: auto;
	font-size: 20px;
	color: var(--text-color);
	margin-bottom: 1vw;
}

.footer {
	margin: 0;
	padding: 0;
	height: 100px;
	background-color: var(--main-color);
	color: var(--text-color);
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.footer p {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 16px;
}
.home-page-decripton {
	margin: auto;
	width: 500px;
	color: white;
	position: relative;
	top: 60%;
}
.action-button {
	height: 50px;
	width: 500px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	position: relative;
	top: 75%;
}

.get-quote-btn,
.get-contact-btn {
	height: 100%;
	width: 200px;
	font-size: 24px;
	align-content: center;
	text-align: center;
	color: white;
	text-decoration: none;
	border: solid 3px var(--text-color);
	border-radius: 20px;
	transition: 0.2s;
}

.get-quote-btn:hover,
.get-contact-btn:hover {
	background-color: var(--text-color);
	color: var(--main-color);
	text-decoration: underline;
	font-size: 30px;
}

.action-button a {
	text-decoration: none;
	color: white;
}

.section-heading {
	text-align: center;
	font-size: 36px;
	color: var(--main-color);
	margin: 0;
}
.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	height: 30vh;
	background-color: rgba(36, 60, 127, 1);
}

.contact {
	margin: auto;
	border-radius: 5px;
	width: 80vw;
	text-align: center;
}

.contact h2 {
	color: var(--text-color);
	font-size: 24px;
	margin: 0;
}

.contact p {
	color: var(--text-color);
	font-size: 18px;
	margin: 0;
	font-size: 20px;
}

.vertical-line {
	display: inline-block;
	width: 2px;
	height: 30px;
	background-color: #ccc;
	margin: 0 15px;
	vertical-align: middle;
}

@media (max-width: 700px) {
	body {
		font-size: 14px;
	}

	.nav-bar {
		height: 20vh;
		flex-direction: column;
		margin: auto;
	}

	.nav-links {
		width: 100%;
		height: 10vh;
	}

	.logo-container {
		width: 100%;
		flex-direction: column;
		margin: 0;
	}

	.logo-container h1 {
		display: none;
	}

	.logo-container a img {
		margin-top: 20px;
	}

	.main-banner {
		height: 600px;
	}

	.service-container {
		height: 100vh;
		flex-direction: column;
		justify-content: space-between;
	}

	.service {
		width: 30vh;
		height: 30vh;
	}

	.service img {
		margin: 1vh;
		height: 28vh;
		width: 28vh;
	}

	.service h2 {
		margin-bottom: 10px;
		padding: 0;
		font-size: 16px;
	}
	.home-page-decripton {
		width: 90vw;
	}
	.action-button {
		top: 65%;
		width: 100vw;
	}
	.contact {
		width: 100vw;
	}
	.contact h2 {
		color: var(--text-color);
		font-size: 18px;
		margin: 0;
	}

	.contact p {
		color: var(--text-color);
		font-size: 16px;
		margin: 0;
		font-size: 14px;
	}

	.get-quote-btn,
	.get-contact-btn {
		width: 150px;
		font-size: 18px;
	}

	.get-quote-btn:hover,
	.get-contact-btn:hover {
		background-color: var(--text-color);
		color: var(--main-color);
		text-decoration: underline;
		font-size: 24px;
	}
}
